.spotlights-container {
    position: absolute;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
}

.spotlight {
    position: absolute;
    bottom: -20px;
    height: 150%;
    transform-origin: bottom center;
    animation: linear 3s infinite alternate;
}

@keyframes left {
    from {
        transform: translateX(-50%) rotate(-20deg);
    }
    to {
        transform: translateX(-50%) rotate(40deg);
    }
}

@keyframes right {
    from {
        transform: translateX(-50%) rotate(20deg);
    }
    to {
        transform: translateX(-50%) rotate(-40deg);
    }
}