.spotlights-container {
    position: absolute;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
}

.spotlight {
    position: absolute;
    bottom: -20px;
    height: 150%;
    transform-origin: bottom center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: move linear 3s infinite alternate;
}

@keyframes move {
    from {
        opacity: 1;
        transform: translateX(-50%) rotate(-20deg);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) rotate(20deg);
    }
}